# per https://bbs.archlinux.org/viewtopic.php?pid=1165168#p1165168

[Unit]
Description=Digital Photo Ingester for Ricoh GR
After=dev-disk-by\x2dlabel-RICOH_GR.device

[Service]
ExecStart=/home/rlue/.local/bin/archivist --volume=/media/ricoh_gr --source=/media/ricoh_gr/DCIM --dest=/home/rlue/Pictures --recursive
Restart=on-failure

[Install]
WantedBy=dev-disk-by\x2dlabel-RICOH_GR.device
