# per https://bbs.archlinux.org/viewtopic.php?pid=1165168#p1165168

[Unit]
Description=Digital Photo Ingester for Ricoh GR
After=dev-disk-by\x2dlabel-RICOH_GR.device

[Service]
ExecStart=/home/rlue/.rbenv/bin/rbenv exec archivist --verbose --recursive --compress-video --volume=/media/ricoh-gr --source=/media/ricoh-gr/DCIM --dest=/home/rlue/Pictures
Restart=no

[Install]
WantedBy=dev-disk-by\x2dlabel-RICOH_GR.device
