# per https://bbs.archlinux.org/viewtopic.php?pid=1165168#p1165168

[Unit]
Description=Digital Photo Ingester for Ricoh GR
After=dev-disk-by\x2dlabel-RICOH_GR.device

[Service]
ExecStartPre=mount /media/ricoh-gr
ExecStart=mv /media/ricoh-gr/DCIM/* /media/data/rlue/home/memories/.inbox/
ExecStartPost=umount /media/ricoh-gr
Restart=no

[Install]
WantedBy=dev-disk-by\x2dlabel-RICOH_GR.device
